.add-button
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.add-button > a
{
    background-color: var(--primaryColor);
    color: var(--writeColor);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.add-button > a:hover
{
    background-color: var(--secondaryColor);
}

