<div class="navbar">
    <div class="left-nav">
        <a routerLink="">
            <mat-icon class="icon">book</mat-icon>
            Blog Management
        </a>
    </div>
    <div class="right-nav">
        <a routerLink="/category-list">
            <mat-icon class="icon">category</mat-icon>
            Category List
        </a>
        <a routerLink="/post-list">
            <mat-icon class="icon">folder_open</mat-icon>
            Post List
        </a>
        <a routerLink="/user-list-page">
            <mat-icon class="icon">person</mat-icon>
            User List
        </a>
        <a routerLink="/comment-list">
            <mat-icon class="icon">comment</mat-icon>
           Comment List
        </a>
    </div>
</div>