<div class="comment-detail">
    <div class="header">
        <p>{{commentObj.COMMENTID}}</p>
        <p>{{commentObj.COMMENT}}</p>
        <p>{{commentObj.DATE}}</p>
    </div>
    <div class="content">
        <p>Post ID: {{commentObj.POSTID}}</p>
        <p>User ID: {{commentObj.USERID}}</p>
        <p>Username: {{username | uppercase}}</p>
        <p>Is Confirmed: {{commentObj.CONFIRMED}}</p>
    </div>
    <div class="footer">
        <button class="edit-btn" (click)="handleEditClick()">Edit</button>
        <button (click)="handleDeleteClick(commentObj.COMMENTID)" class="delete-btn">Delete</button>
    </div>
</div>

<form class="edit-form" *ngIf="editMode">
    <h1>Edit Comment</h1>
    <p>You are editing comment number {{commentObj.COMMENTID}}</p>
    <label for="comment">Comment</label>
    <input type="text" [(ngModel)]="commentObj.COMMENT" name="comment">
    <label for="confirmed">Confirmed</label>
    <select [(ngModel)]="commentObj.CONFIRMED" name="confirmed">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <label for="userid">User</label>
    <select [(ngModel)]="commentObj.USERID" name="userid">
        <option *ngFor="let user of users" [value]="user.ID">{{ user.USERNAME }}</option>
    </select>
    <label for="postid">Post</label>
    <select [(ngModel)]="commentObj.POSTID" name="postid">
        <option *ngFor="let post of posts" [value]="post.POSTID">{{ post.TITLE }}</option>
    </select>
    <label for="date">Date</label>
    <input type="date" [(ngModel)]="commentObj.DATE" name="date">
    <button (click)="handleUpdateClick(commentObj)" type="button" class="update-btn">Update</button>
</form>